/* Flexbox body to center the etch-a-sketch container */
body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Container that doesn't shrink. Holds the grids */
.container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  flex-wrap: wrap;
  width: 750px;
  height: 750px;
}

/* Each row that holds the cells */
.row {
  flex: auto;
  /* border: 1px green solid; */

  display: flex;
}

/* Styling for a cell */
.cell {
  border: 1px black solid;
  flex: auto;
}
