* {
  margin: 0;
  padding: 0;
  font-family: "Capriola", sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #b4e2ff;
}

.title {
  flex: 0;
  padding: 20px;
  /* font-family: "Capriola", sans-serif; */
  font-size: 40px;
  font-weight: bold;
}

.ui {
  flex: 0;
}

.etch-a-sketch {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container that doesn't shrink. Holds the grids */
.grid {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  flex-wrap: wrap;

  min-width: 500px;
  min-height: 500px;
}

/* Each row that holds the cells */
.row {
  flex: auto;
  /* border: 1px green solid; */

  display: flex;
}

/* Styling for a cell */
.cell {
  border: 1px black solid;
  flex: auto;
}
